@font-face {
    font-family: "FreeMonoSpace";
    src: url(fonts/FreeMonospaced-7ZXP.ttf) format("truetype");
}
:root{
    --bg-color:teal;
    --main-color:rgb(13, 163, 163);
    --main-txt-color: rgb(241, 233, 233);
    --txt2-color: rgb(223, 37, 161);
}

*{
    padding:0;
    margin: 0;
}
body{
    background-color: var(--bg-color);
    font-family: 'FreeMonoSpace';
}
a{
    text-decoration-line: none;
    color:initial;
}
ul{
    list-style: none;
}

/* section header */
    header{
        width: 100%;
        float: left;
        margin-bottom: 5%;
    }
    header h1{
        text-align: center;
        font-size: 7em;
        color: var(--main-txt-color);
    }

/* section menu */
    menu{
        width: 20%;
        float: left;
        border-radius: 10% 0 10% 0;
    }
    menu ul{
        padding: 2% 10%;
    }
    menu li{
        margin: 5% 0;
        padding: 2% 0;
        width: 100%;
        text-align: center;
        border: 1px solid var(--main-txt-color);
        color: var(--main-txt-color);
        font-weight: bold;
        font-size: 1.5em;
        cursor: pointer;
    }
    menu li:hover{
        border: 1px solid var(--main-color);
        animation-name: firstAnimation;
        animation-duration: 1s; 
        background-color:white;
        color:var(--main-color);
    }

/* section main */
    main{
        margin: 0 5%;
        float: left;
        width: 50%;
        padding: 1% 5%;
    }
    main div.mainHeadQuad{
        color: var(--main-txt-color);
        background-color: var(--main-color);
        border-radius: 0 0 30% 0;
        padding: 5%;
        opacity: 0.9;
    }
    main div.mainHeadQuad h1{
        font-size: 4em;
    }
    main a{
        color:inherit;
    }
    main div.mainHeadQuad h2.mainLookProducts{
        margin: 4% 20% 0 20%;
        padding: 2% 0;
        text-align: center;
        border: 1px solid var(--main-txt-color);
        color: var(--main-txt-color);
    }
    main div.mainHeadQuad h2.mainLookProducts:hover{
        margin: 4% 20% 0 20%;
        padding: 2% 0;
        text-align: center;
        border: 1px solid var(--main-color);
        animation-name: firstAnimation;
        animation-duration: 2s; 
        background-color:white;
        color:var(--main-color);
    }

    /* section main - Sing In */
    main div.mainHeadQuad h1.singInH1{
        font-size: 2em;
    }
    table.singInTable{
        margin: 3% 10%;
        font-weight: bold;
        font-size: 1.5em;
    }
    table.singInTable input{
        background-color: var(--bg-color);
        height:2em;
        color: var(--main-txt-color);
        font-weight: bold;
        border: 1px solid var(--main-txt-color);
    }
    button.singInSubmit{
        margin: 4% 0;
        width: 100%;
        background-color: var(--main-color);
        border: 1px solid var(--main-txt-color);
        font-size: 0.8em;
        height: 1.5em;
        color: var(--main-txt-color);
        cursor: pointer;
        
    }
    button.singInSubmit:hover{
        border: 1px solid var(--main-color);
        animation-name: firstAnimation;
        animation-duration: 1s; 
        background-color:white;
        color:var(--main-color);
    }



    @keyframes firstAnimation {
        0% {
            left: 0;
            background-color:var(--main-color);

        }
        100%{
            left: 100%;
            background-color:white;
            color:var(--main-color);
        }
    }